<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>com.Services.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.Services.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetReports</servlet-name>
  	<display-name>GetReports</display-name>
  	<description></description>
  	<servlet-class>com.Services.GetReports</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AvailableSources</servlet-name>
  	<display-name>AvailableSources</display-name>
  	<description></description>
  	<servlet-class>com.Services.AvailableSources</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetSalesReport</servlet-name>
  	<display-name>GetSalesReport</display-name>
  	<description></description>
  	<servlet-class>com.Services.GetSalesReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetClaimsReport</servlet-name>
  	<display-name>GetClaimsReport</display-name>
  	<description></description>
  	<servlet-class>com.Services.GetClaimsReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetDashboardReport</servlet-name>
  	<display-name>GetDashboardReport</display-name>
  	<description></description>
  	<servlet-class>com.Services.GetDashboardReport</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetReports</servlet-name>
  	<url-pattern>/GetReports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AvailableSources</servlet-name>
  	<url-pattern>/AvailableSources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSalesReport</servlet-name>
  	<url-pattern>/GetSalesReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetClaimsReport</servlet-name>
  	<url-pattern>/GetClaimsReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDashboardReport</servlet-name>
  	<url-pattern>/GetDashboardReport</url-pattern>
  </servlet-mapping>


</web-app>
